<!DOCTYPE html>
<html lang="ko-KR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../styles/base.css" />
        <link rel="stylesheet" href="../styles/main.css" />
        <link rel="stylesheet" href="../styles/chat-input-bar.css" />
        <title>채팅 입력</title>
    </head>
    <body>
        <section class="chat-input-container">
            <form action="" tabindex="0" tabindex="0">
                <button class="attach" type="button">
                    <span class="sr-only">첨부파일 추가하기</span>
                </button>
                <div class="input__container">
                    <label for="chat" class="sr-only">채팅입력</label
                    ><textarea
                        id="chat"
                        placeholder="채팅을 입력해주세요."
                        tabindex="0"></textarea>
                </div>
                <div class="button__container">
                    <button type="button" class="gift" tabindex="0">
                        <span class="sr-only">선물 보내기</span>
                    </button>
                    <button type="button" class="gif">
                        <span class="sr-only">gif 사용하기</span>
                    </button>
                    <button type="button" class="sticker">
                        <span class="sr-only">스티커 사용하기</span>
                    </button>
                    <button type="button" class="emoji">
                        <span class="sr-only">이모지 사용하기</span>
                    </button>
                    <button type="button" class="game">
                        <span class="sr-only">게임 추가하기</span>
                    </button>
                </div>
            </form>
        </section>
    </body>
</html>
