<!DOCTYPE html>
<html lang="ko-KR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../styles/base.css" />
        <link rel="stylesheet" href="../styles/main.css" />
        <link rel="stylesheet" href="../styles/chat.css" />
        <title>Document</title>
    </head>
    <body>
        <section class="chat-panel-container">
            <section class="chat-header"></section>
            <section class="chat-box"></section>
            <section class="chat-input"></section>
            <section class="chat-right-side"></section>
        </section>
    </body>
</html>
