<!DOCTYPE html>
<html lang="ko-KR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title></title>
        <link rel="stylesheet" href="../styles/base.css" />
        <link rel="stylesheet" href="../styles/main.css" />
        <link rel="stylesheet" href="../styles/direct-message-tab.css" />
        <link rel="stylesheet" href="../styles/profile.css" />
    </head>
    <body>
        <div class="direct-message-tab">
            <div class="conversation">
                <button class="conversation__btn" type="button">
                    대화 찾기 또는 시작하기
                </button>
            </div>

            <div class="friends-btn-wrapper">
                <a class="friends-btn" href="/">
                    <div class="friends-btn__contents">
                        <img src="../assets/friends.svg" alt="" />
                        <span>친구</span>
                    </div>
                </a>
            </div>
            <div class="just-line"></div>
            <div class="direct-message-wrapper">
                <div class="direct-message-add">
                    <p>다이렉트 메시지</p>
                    <button type="button">
                        <img src="../assets/plus.svg" alt="" />
                    </button>
                </div>
                <ul class="direct-message-list">
                    <li class="direct-message-list__0">
                        <div
                            class="avatar__wrapper avatar__wrapper--indicator avatar__wrapper--middle">
                            <img
                                src="../assets/misung.webp"
                                class="avatar__img" />
                            <div
                                class="avatar__indicator avatar__indicator--status offline"></div>
                        </div>
                        <label for="nickname0"
                            >김미성
                            <span class="sr-only">(다이렉트 메시지)</span>
                        </label>
                        <input
                            onclick="loadPage('./playerinfo/misung.html', 0)"
                            class="sr-only"
                            name="nickname"
                            type="radio"
                            id="nickname0" />
                        <button aria-label="개인 메시지 닫기" type="button">
                            <img src="../assets/close.svg" alt="" />
                        </button>
                    </li>
                    <li class="direct-message-list__0">
                        <div
                            class="avatar__wrapper avatar__wrapper--indicator avatar__wrapper--middle">
                            <img
                                src="../assets/dohyeon.webp"
                                class="avatar__img" />
                            <div
                                class="avatar__indicator avatar__indicator--status offline"></div>
                        </div>
                        <label for="nickname1"
                            >남도현
                            <span class="sr-only">(다이렉트 메시지)</span>
                        </label>
                        <input
                            onclick="loadPage('./playerinfo/dohyeon_chat_panel.html', 0)"
                            class="sr-only"
                            name="nickname"
                            type="radio"
                            id="nickname1" />
                        <button aria-label="개인 메시지 닫기" type="button">
                            <img src="../assets/close.svg" alt="" />
                        </button>
                    </li>
                    <li class="direct-message-list__0">
                        <div
                            class="avatar__wrapper avatar__wrapper--indicator avatar__wrapper--middle">
                            <img
                                src="../assets/jieun.png"
                                class="avatar__img" />
                            <div
                                class="avatar__indicator avatar__indicator--status offline"></div>
                        </div>
                        <label for="nickname2"
                            >정지은
                            <span class="sr-only">(다이렉트 메시지)</span>
                        </label>
                        <input
                            onclick="loadPage('./playerinfo/jieun-chat-pannel.html', 0)"
                            class="sr-only"
                            name="nickname"
                            type="radio"
                            id="nickname2" />
                        <button aria-label="개인 메시지 닫기" type="button">
                            <img src="../assets/close.svg" alt="" />
                        </button>
                    </li>
                    <li class="direct-message-list__0">
                        <div
                            class="avatar__wrapper avatar__wrapper--indicator avatar__wrapper--middle">
                            <img
                                src="../assets/seokgeun.jpg"
                                class="avatar__img" />
                            <div
                                class="avatar__indicator avatar__indicator--status offline"></div>
                        </div>
                        <label for="nickname3"
                            >조석근
                            <span class="sr-only">(다이렉트 메시지)</span>
                        </label>
                        <input
                            onclick="loadPage('./playerinfo/seokgeun.html', 0)"
                            class="sr-only"
                            name="nickname"
                            type="radio"
                            id="nickname3" />
                        <button aria-label="개인 메시지 닫기" type="button">
                            <img src="../assets/close.svg" alt="" />
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>
