<!DOCTYPE html>
<html lang="ko-KR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Friends header component</title>
        <link rel="stylesheet" href="../styles/base.css" />
        <link rel="stylesheet" href="../styles/main.css" />
        <link rel="stylesheet" href="../styles/friends-header.css" />
    </head>
    <body>
        <header class="header">
            <div class="header__logo">
                <div class="logo">
                    <img src="../assets/friends.svg" alt="" />
                    <p>Friends</p>
                </div>
            </div>
            <span class="block-divider"></span>
            <nav>
            <ul class="tab-list">
                <li><input type="radio" name="tab" id="online" class="sr-only" checked><label for="online">Online</label></input></li>
                <li><input type="radio" name="tab" id="all" class="sr-only"><label for="all">All</label></input></li>
                <li><input type="radio" name="tab" id="pending" class="sr-only"><label for="pending">Pending</label></input></li>
                <li><input type="radio" name="tab" id="suggestions" class="sr-only"><label for="suggestions">Suggestions</label></input></li>
                <li><input type="radio" name="tab" id="blocked" class="sr-only"><label for="blocked">Blocked</label></input></li>
                <li class="list-button"><button>Add Friend</button></li>
            </ul>
            </nav>
        </header>
    </body>
</html>
