<!DOCTYPE html>
<html lang="ko-KR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>모달 창 컴포넌트</title>
        <link
            rel="preload"
            as="font"
            href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT-Regular.woff2" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/static/woff2/SUIT.css" />
        <link rel="stylesheet" href="../styles/base.css" />
        <link rel="stylesheet" href="../styles/main.css" />
        <link rel="stylesheet" href="../styles/modal-dialog.css" />
        <!-- 모달 창 열고 닫는 스크립트 -->
        <script type="module">
            const dialog = document.querySelector(".dialog");
            const closeDialogBtn = document.querySelector(".dialog__close");

            // 페이지 열면 모달 창 열기
            document.addEventListener("DOMContentLoaded", () => {
                dialog.showModal();
            });

            // '확인' 버튼 클릭하면 모달 창 닫기
            closeDialogBtn.addEventListener("click", () => {
                dialog.close();
            });
        </script>
    </head>
    <body>
        <h1 class="sr-only">모달 창 컴포넌트</h1>
        <!-- 모달 창 컴포넌트 -->
        <dialog
            class="dialog"
            aria-labelledby="dialogTitle"
            aria-describedby="dialogDetails"
            data-backdrop="static">
            <h2 class="dialog__title" id="dialogTitle">
                멋쟁이사자처럼 학습 프로젝트
            </h2>
            <div class="dialog__details" id="dialogDetails">
                <p>
                    안녕하세요, 방문자님!
                    <strong
                        >본 웹사이트는 상업용이 아닌, 멋쟁이사자처럼 프론트엔드
                        교육 과정의 학습 프로젝트로 제작한 교육용
                        페이지입니다.</strong
                    >
                </p>
                <div class="dialog__list">
                    <strong>[면책 조항]</strong>
                    <ul>
                        <li>교육 목적으로 제작한 비상업적 프로젝트입니다.</li>
                        <li>
                            사이트에 포함된 정보는 정확성이나 완전성을 보장하지
                            않습니다.
                        </li>
                        <li>
                            제3자 콘텐츠가 포함될 수 있으며, 해당 저작권은 원
                            소유자에게 있습니다.
                        </li>
                    </ul>
                </div>
                <p>
                    <strong
                        >확인 버튼을 클릭하면 이 내용에 동의한 것으로
                        간주합니다.</strong
                    >
                    즐거운 탐색 되세요!
                </p>
            </div>
            <form method="dialog">
                <button class="dialog__close" type="submit">확인</button>
            </form>
        </dialog>
    </body>
</html>
