<!DOCTYPE html>
<html lang="ko-KR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../styles/base.css" />
        <link rel="stylesheet" href="../styles/main.css" />
        <link rel="stylesheet" href="../styles/profile.css" />
        <title>Document</title>
    </head>
    <body>
        <div class="avatar__wrapper avatar__wrapper--extralarge">
            <!-- 큰 아바타 -->
            <img src="../assets/dohyeon.webp" class="avatar__img" />
            <div
                class="avatar__indicator avatar__indicator--status offline"></div>
        </div>

        <div class="avatar__wrapper avatar__wrapper--large">
            <!-- 대화, 친구창 등 아바타 -->
            <img src="../assets/dohyeon.webp" class="avatar__img" />
            <div
                class="avatar__indicator avatar__indicator--status offline"></div>
        </div>

        <div class="avatar__wrapper avatar__wrapper--middle">
            <!-- 중간 크기 아바타 -->
            <img src="../assets/dohyeon.webp" class="avatar__img" />
            <div
                class="avatar__indicator avatar__indicator--status offline"></div>
        </div>

        <div class="avatar__wrapper avatar__wrapper--small">
            <!-- 작은 아바타 -->
            <img src="../assets/dohyeon.webp" class="avatar__img" />
            <div
                class="avatar__indicator avatar__indicator--status offline"></div>
        </div>
        <!-- 인디케이터 있는거 -->
        <div
            class="avatar__wrapper avatar__wrapper--indicator avatar__wrapper--extralarge">
            <img src="../assets/dohyeon.webp" class="avatar__img" />
            <div
                class="avatar__indicator avatar__indicator--status offline"></div>
        </div>

        <div
            class="avatar__wrapper avatar__wrapper--indicator avatar__wrapper--large">
            <img src="../assets/dohyeon.webp" class="avatar__img" />
            <div
                class="avatar__indicator avatar__indicator--status offline"></div>
        </div>

        <div
            class="avatar__wrapper avatar__wrapper--indicator avatar__wrapper--middle">
            <img src="../assets/dohyeon.webp" class="avatar__img" />
            <div
                class="avatar__indicator avatar__indicator--status offline"></div>
        </div>

        <div
            class="avatar__wrapper avatar__wrapper--indicator avatar__wrapper--small">
            <img src="../assets/dohyeon.webp" class="avatar__img" />
            <div
                class="avatar__indicator avatar__indicator--status offline"></div>
        </div>
    </body>
</html>
