<!DOCTYPE html>
<html lang="ko-KR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../styles/base.css" />
        <link rel="stylesheet" href="../styles/main.css" />
        <link rel="stylesheet" href="../styles/server-tab.css" />
    </head>
    <body>
        <!-- ========================
        BLOCK: 서버 탭 라디오 버튼 컴포넌트
        ========================= -->
        <div class="server__radio">
            <input class="server__img profile__img" type="radio" name="server" id="server1" /><label class="sr-only" for="server1">서버1</label>
        </div>

        <!-- ========================
        BLOCK: 서버 탭 앵커 버튼 컴포넌트
        ========================= -->
        <div class="server__button">
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" viewBox="0 0 21 21" fill="none">
                    <path
                        d="M10.5,0.5c-5.5,0-10,4.5-10,10s4.5,10,10,10s10-4.5,10-10S16,0.5,10.5,0.5z M17,11.3h-5.7V17H9.7v-5.7H4V9.7h5.7V4h1.6v5.7H17V11.3z"
                    />
                </svg>
            </a>
        </div>
    </body>
</html>
