<!DOCTYPE html>
<html lang="ko-KR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../styles/base.css" />
        <link rel="stylesheet" href="../styles/main.css" />
        <link rel="stylesheet" href="../styles/server-tab.css" />
    </head>
    <body>
        <!-- ========================
        BLOCK: 서버 탭 라디오 버튼 컴포넌트
        ========================= -->
        <div class="server__button">
            <input
                class="server__img profile__img"
                type="radio"
                name="server"
                id="server1"
            /><label class="sr-only" for="server1">서버1</label>
        </div>
    </body>
</html>
