<!DOCTYPE html>
<html lang="ko-KR">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../styles/base.css" />
        <link rel="stylesheet" href="../styles/main.css" />
        <link rel="stylesheet" href="../styles/user-profile.css" />
    </head>
    <body>
        <div class="user-profile">
            <button class="btn--def user-profile__btn" type="button">
                <div class="profile">
                    <span class="profile__img"></span>
                </div>
                <div class="profile-text">
                    <strong class="profile-text__nickname">도현</strong>
                    <p class="profile-text__status">온라인</p>
                </div>
            </button>
            <div class="control">
                <button class="btn--def control__mic" type="button">
                    <img src="../assets/mic.svg" alt="" />
                </button>
                <button class="btn--def control__headset" type="button">
                    <img src="../assets/headset.svg" alt="" />
                </button>
                <button class="btn--def control__option" type="button">
                    <img src="../assets/option.svg" alt="" />
                </button>
            </div>
        </div>
    </body>
</html>
