.header {
    background-color: var(--color-grey-550);
    display: flex;
    padding-top: 0.805rem;
    padding-bottom: 14.0192px;
    padding-inline: 1.0625rem;

    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .tab-list {
        margin-left: 0.9375rem;
        list-style: none;
        display: flex;
        align-items: center;
        gap: 0.6863rem;
        color: var(--color-grey-50);
        font-size: 1.0488rem;
        font-weight: medium;
    }

    .button-list {
        display: flex;
        align-items: center;
        gap: 1.1875rem;
        list-style: none;
        button {
            all: unset;
            cursor: pointer;
        }
    }

    .header__logo {
        display: flex;
    }

    .list-button {
        background-color: var(--color-primary);
        padding-inline: 0.75rem;
        padding-block: 0.25rem;
        border-radius: 0.5rem;
        white-space: nowrap;
        font-weight: 500;
        transition: background-color 0.2s ease 0.1s;
        button {
            all: unset;
            cursor: pointer;
            padding-top: 0.1875rem;
        }
        &:hover {
            background-color: #4654c0;
        }
    }

    label {
        border-radius: 0.5rem;
        padding-top: 0.4375rem;
        padding-bottom: 0.25rem;
        padding-inline: 0.75rem;
        display: flex;
        align-self: center;
        cursor: pointer;
        white-space: nowrap;
    }

    input[type="radio"]:checked + label {
        background-color: var(--color-grey-650);
        transition: background-color 0.2s ease 0.1s;
        &:hover {
            background-color: #333338;
        }
    }

    .logo {
        display: flex;
        gap: 0.5613rem;
        align-items: center;
        margin-right: 0.9375rem;
        img {
            color: var(--color-grey-400);
            width: 1.3125rem;
            height: 1.0625rem;
        }
        p {
            padding-top: 0.25rem;
            color: var(--color-grey-50);
            font-size: 1rem;
            font-weight: bold;
            white-space: nowrap;
        }
    }
    /* friend-header 용 tooltip  */
    .tooltip-header {
        width: 2.5rem;
        height: 2.5rem;
        margin: 2rem;
    }

    .tooltip-header:hover,
    .tooltip-header:focus-visible {
        position: relative;

        &::before {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%) translateY(50%) rotate(45deg);
            width: 0.5rem;
            height: 0.5rem;
            border: 1px solid #2e2e33;
            border-color: #2e2e33 var(--color-grey-700) var(--color-grey-700)
                #2e2e33;
            background: var(--color-grey-700);
            content: "";
            z-index: 10;
        }

        &::after {
            position: absolute;
            top: calc(100% + 0.45rem);
            left: 50%;
            width: max-content;
            padding: 0.625rem;
            border: 1px solid #2e2e33;
            border-radius: 0.375rem;
            background: var(--color-grey-700);
            color: var(--color-white-100);
            font-size: 14px;
            font-weight: 500;
            line-height: 1;
            content: attr(data-tooltip);
            transform: translateX(-50%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            z-index: 9;
        }
    }
}

@media (max-width: 850px) {
    .tab-list {
        overflow-x: auto;
        white-space: nowrap;
        scrollbar-width: none;
        scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
        -webkit-overflow-scrolling: touch;
    }

    .tab-list::-webkit-scrollbar {
        height: 0.2rem;
    }
    .button-list {
        padding-left: 1rem;
    }
}

.block-divider {
    display: block;
    width: 0.0625rem;
    height: 1.75rem;
    background-color: var(--color-grey-700);
}
