:root {
    /* 기본 색상 설정 */
    --color-primary: #5865f1;
    --color-red: #da3e44;
    --color-green: #42a25a;
    --color-yellow: #ca9654;
    --color-black: #121214;
    --color-white: #ffffff;
    --color-white-100: #fbfbfb;
    --color-grey-50: #efeff0;
    --color-grey-200: #aaaab1;
    --color-grey-300: #94959c;
    --color-grey-500: #202024;
    --color-grey-550: #1a1a1e;
    --color-grey-600: #1d1d1e;
    --color-grey-650: #27272a;
    --color-grey-700: #222225;

    --main-panel-background-color: #1a1a1e;
}
body {
    overflow: auto;
}
/* 프로필 이미지 */
.profile {
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
}

.profile__img {
    width: 100%;
    height: 100%;
    background-image: url("../assets/seokgeun.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    border-radius: 50%;
}
