body {
    background-color: var(--color-black);
    /* padding: 50px; */
}

/* 서버 탭 라디오 버튼 컴포넌트 스타일링 */
.server__radio {
    width: 3rem;
    height: 3rem;

    .server__img {
        background-color: var(--color-grey-600);
        background-image: url(../assets/discord-symbol-white.svg);
        background-position: 50% 50%;
        background-size: 30px;
        appearance: none;
        border-radius: 0.75rem;
    }

    input:hover {
        background-color: var(--color-primary);
        position: relative;
        cursor: pointer;

        &::before {
            content: "";
            width: 0.25rem;
            height: 1.5rem;
            border-radius: 0 4px 4px 0;
            background: var(--color-white);
            position: absolute;
            right: 3.5rem;
            top: calc(1.5rem / 2);
        }

        &::after {
            content: "호버 메시지";
            padding: 0.625rem;
            position: absolute;
            background: var(--color-grey-700);
            width: max-content;
            font-size: 1rem;
            line-height: 1;
            top: 50%;
            transform: translate(0, -50%);
            left: 3.75rem;
            border: #2e2e33 solid 1px;
            color: var(--color-white-100);
            font-weight: 700;
            border-radius: 6px;
        }
    }

    input:checked {
        background-color: var(--color-primary);
        position: relative;

        &::before {
            content: "";
            width: 0.25rem;
            height: 3rem;
            border-radius: 0 4px 4px 0;
            background: var(--color-white);
            position: absolute;
            right: 3.5rem;
            top: 0;
        }
    }
}

/* 서버 탭 앵커 버튼 컴포넌트 스타일링 */
.server__button {
    width: 3rem;
    height: 3rem;

    a {
        border-radius: 0.75rem;
        background: var(--color-grey-600);
        display: block;
        height: 100%;
        padding: 0.75rem;
        justify-content: center;

        svg {
            width: 100%;
            fill: var(--color-white);
        }
    }

    a:hover {
        background: var(--color-primary);
        position: relative;

        &::after {
            content: "호버 메시지";
            padding: 0.625rem;
            position: absolute;
            background: var(--color-grey-700);
            width: max-content;
            font-size: 1rem;
            line-height: 1;
            top: 50%;
            transform: translate(0, -50%);
            left: 3.75rem;
            border: #2e2e33 solid 1px;
            color: var(--color-white-100);
            font-weight: 700;
            border-radius: 6px;
        }
    }
}

/* 서버 탭 컴포넌트 스타일링 */
.server {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.75rem;
    width: 4.5rem;
    padding-inline: 0.75rem;

    hr {
        border: 1px solid var(--color-grey-700);
    }

    div:nth-of-type(1) input:hover::after {
        content: "다이렉트 메시지";
    }

    div:nth-of-type(2) {
        .profile__img {
            background: url(../assets/server-profile.webp) no-repeat;
            background-size: cover;
        }

        input:hover::after {
            content: "FRONTEND BOOTCAMP 14기";
        }
    }

    div:nth-of-type(3) a:hover::after {
        content: "서버 추가하기";
    }

    div:nth-of-type(4) a:hover::after {
        content: "찾기";
    }
}
