body {
    overflow: auto;
}

.user-profile {
    font-size: 0.875rem;
    width: 100%;
    height: 3.75rem;
    gap: 0.625rem;
    padding: 10px;
    background: var(--color-grey-500);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
}

.btn--def {
    border: 0;
    background-color: transparent;
    border-radius: 0.5rem;

    &:hover {
        background: #333338;
    }
}

.user-profile__btn {
    display: flex;
    align-items: center;
    width: 100%;
}

/* 프로필 이미지 */
.profile__img {
    background-image: url("../assets/dohyeon.webp");
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 10px;
        aspect-ratio: 1;
        background: var(--color-green);
        border-radius: 50%;
        outline: 2px solid var(--color-grey-500);
    }
}

.profile-text {
    margin-left: 8px;
    text-align: start;

    .profile-text__nickname {
        color: var(--color-white-100);
    }

    .profile-text__status {
        color: var(--color-grey-200);
    }
}

.control {
    display: flex;
    gap: 0.5rem;

    .control__mic {
        width: 32px;
        height: 32px;
    }

    .control__headset {
        width: 32px;
        height: 32px;
    }

    .control__option {
        width: 32px;
        height: 32px;
    }
}
